* {
    margin: 0;
    padding: 0;
}

.main {
    width: 500;
    background: linear-gradient(to top, rgba(0,0,0,1)100%,rgba(0,0,0,1)100%), url(backg2.jpeg);
    background-position: center;
    background-size: cover;
    height: 200vh;
}
img {
  max-width: 100%;
  height: auto;
}
.navbar {
    width: 1500px;
    height: 100px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: lightblue;
    font-size: 35px;
    font-family: arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight:bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: red;
}

.search {
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch {
    font-family: 'times new roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #666;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
} 

.btn {
    width: 150px;
    height: 50px;
    background: lightblue;
    border: 2px solid #666;
    margin-top: 13px;
    color: black;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: 2000px;
    height:auto;
    margin: auto;
    color: white;
    position: relative;
}

.content .par {
    padding-left: 100px;
    padding-bottom: 80px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family:'times new roman';
    font-size: 100px;
    padding-left: 25px;
    margin-top: 9px;
    letter-spacing: 2px;
}

.content .cn {
    width: 250px;
    height: 100px;
    background: blue;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.content .cn a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

.cin:hover {
    background-color: black;
}

.form {
    width: 350px;
    height: 400px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    border-radius: 10px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
    left: 870px;
}

.form h2{
    width: 250px;
    font-family: sans-serif;
    text-align: center;
    color: blue;
    font-size: 22px;
    background-color: white;
    border-radius:1 10px;
    margin: 20px;
    padding: 80px;
}

.form input {
    width: 300px;
    height: 50px;
    background: transparent;
    border-bottom: 1px solid lightblue;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 50px;
    font-family: sans-serif;
}

.form input :focus {
    outline: none;
}

::placeholder {
    color: white;
    font-family: arial;
}

.btnn {
    width: 250px;
    height: 50px;
    background: lightblue;
    border: none;
    margin-top: 50px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn :hover {
    background: lightblue;
    color: red;
}

.btnn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.font link {
    font-family: arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form link a{
    text-decoration: none;
    color: lightblue;
}

.liw {
    padding-top: 15px;
    padding-bottom: 40px;
    text-align: center;

}










